/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
    color:#4D4E53;
}

:root {
    --mainbackgroundcolor: #FFFFFF;
    --secondarybackgroundcolor: #f8f8f8;
    --darkerlinecolor: #ebebeb;
    --baselinkcolor: #6c757d;
    --bluelinkcolor: #13B6FB;
    --bluelinkhover: #45c6fc;
}

head {
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
}

body {
    margin: 0;
}

/*HEADER*/
header {
    margin: 0;
    padding:0;
    background-color: var(--mainbackgroundcolor);
    display:flex;
    justify-content:space-between;
    position:fixed;
    left:0; right:0;
    z-index: 99;
}

/*Logo*/

header img {
    position:relative;
    width:9em;
    z-index:99;
    margin:.5em 0 0 1.5em;
}

/*Navigatie*/
nav button {
    position:relative;
    width:3.6em; height:2.5em;
    font-size:.9em;
    background-color:var(--mainbackgroundcolor);
    border:.15em solid black;
    border-radius:.4em;
    appearance:none;
    cursor:pointer;
    z-index:99;
    margin:.3em 1em .3em 0;
}

header nav ul {
    margin:0; padding:2.7em 0;
    background:var(--mainbackgroundcolor);
    list-style:none;
    position:fixed;
    left:0; right:0;
    top:0; bottom:0;
    transform: translatex(-100%);

    transition:.3s;
}

nav.toonMenu ul {
    transform: translatex(0%);
}

header nav li {
    margin-bottom:2em; padding:0 0 .5em 0;
    height:1.1em;
    font-size:1em;
}

header nav a {
    display:block;
    margin:0 1em 0 1.2em;
    padding:1.5em 1em 1em 1.1em;
    background-size:auto 2em;
    background-position:1em center;
    background-repeat:no-repeat;
    color:var(--baselinkcolor);
    background-color:transparent;
    text-decoration:none;
    outline:none;

    transition:.1s;
}

header nav a:hover {
    color:var(--bluelinkcolor);
    border-bottom: .3em solid var(--bluelinkcolor);
}

/*Donatie knop*/

header nav a.bluebutton {
    color:white;
    margin:3em 0 0 1em;
    padding:0 .5em 0 .5em;
    display:block;
    width:8em; height:2.2em;
    font-size:.9em;
    line-height:2.5em;
    text-align:center;
    background-color:var(--bluelinkcolor);
    border-radius:.25em;
    box-shadow: 0 .2em .1em 0 #11A5EA;

    transition:.3s;
}

header nav a.bluebutton:hover {
        background-color:var(--bluelinkhover)
    }

header nav a.donate:before {
    content: "❤";
    color:white;
    padding-right:1em;
}

/*MAIN*/
main section:first-of-type {
    display: flex;
    justify-content: center;
    height: 24.5em;
    background-image:url("../images/headerafbeelding.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:-10.5em 2.5em;

}

main section:first-of-type a {
    margin: 12.5em 3em 9em 3em;
    padding:0;
    text-decoration:none;
    outline:none;
    background-color: #0E002F;
    border-radius: .25em;
}

main section:first-of-type a h2 {
    margin:0 1.5em 1em -1em;
    font-size:2.5em;
    font-weight: 100;
    text-align: center;
    padding: .3em;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

main section:first-of-type a p {
    font-size:1.3em;
    line-height: 1.5em;
    margin: -1.7em 0 0 1em;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

@keyframes rainbow-animation {
  0% {
    background-position:right top;
  }
  100% {
    background-position:left bottom;
  }
}

main section:first-of-type h2, section:first-of-type p {
  background-image:linear-gradient( 45deg, crimson, darkorange, gold, limegreen, dodgerblue, blueviolet, crimson, darkorange, gold, limegreen, dodgerblue, blueviolet, crimson );
  background-size:800% 200%;
  background-position:left bottom;
  animation-name:rainbow-animation;
  animation-duration:100s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
}

main section:first-of-type a p span {


}

main section:nth-of-type(2) {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 0; padding:.5em 2em .5em 1em;
    background-color:var(--mainbackgroundcolor);
    line-height: 1.6em;
    border-bottom: .15em solid var(--darkerlinecolor);
}

main section:nth-of-type(2) a {
    font-size:1em;
    text-align: center;
    text-decoration:none;
    outline:none;
}

main a.bluebutton {
    display:block;
    color:white;
    padding:.1em .5em 0 .5em;
    width:19em; height:2em;
    font-size:1.1em;
    line-height:2em;
    text-align:center;
    background-color:var(--bluelinkcolor);
    border-radius:.25em;
    box-shadow: 0 .2em .1em 0 #11A5EA;

    transition:.3s;
    }

    main a.bluebutton:hover {
            background-color:var(--bluelinkhover)
        }
    main a.download:before {
        content: "↓";
        color:white;
        padding-right:1em;
    }

main section:nth-of-type(3){
    display: grid;
    grid-template-columns:1fr;
    background-color:var(--secondarybackgroundcolor);
}

main section:nth-of-type(3) article {
    margin:1em;
    padding: 0 1.5em 1.5em 1.5em;
    background-color:var(--mainbackgroundcolor);
    border-radius: .5em;
}

main section:nth-of-type(3) article p, a {
    font-size: .8em;
}

main section:nth-of-type(3) article p {
    line-height:1.7em;
}

main section:nth-of-type(3) article a:first-of-type {
    font-size: 1em;
    text-decoration: none;
}

main section:nth-of-type(3) article a {
    text-decoration: underline;
}


/*Media56em*/

@media (min-width:56em){
    /*Header*/
    header {
        justify-content: center;
        padding:.1em;
    }
    header a img {
        margin: .5em 0 0 0;
        width:7.5em;
    }
    nav {
        display:flex;
        justify-content: flex-end;
        width:63em;
    }

    header nav button {
        display:none;
    }
    header nav ul {
        display:flex;
        position:relative;
        justify-content: flex-end;
        margin:-.8em .5em 0 0; padding:0;
        list-style:none;
        background-color:transparent;
        transform:none;
    }

    header nav li {
        display:inline-block;
        min-width:4em;
        font-size:.9em;
    }

    header nav a {
        padding:14px;
        line-height:2em;
        height:3.8em;
    }

    header nav a.bluebutton {
        margin-left: 0;
        margin-top: 1em;
    }

    /*Main*/
    main section:first-of-type {
        height: 40.5em;
        background-position:0 -13em;
    }
    main section:first-of-type a {
        margin: 16em 10em 10em -28em;
    }
    main section:first-of-type a h2 {
        font-size:3em;
    }
    main section:first-of-type a p span {
        padding: .8em;
    }

    main section:first-of-type a p {
        margin-top:-2.8em;
    }

    main section:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 40.5em;
        background-position:0 -13em;
    }


/*FOOTER*/
